<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <h1>请注册</h1>
    <form action = '/user_register/' method='post'>
        <input type = 'text', placeholder='请输入登录用户名' name = 'username'><br />
        <input type = 'text', placeholder='请输入昵称' name = 'nickname'><br />
        <input type= 'password'， placeholder="请输入密码", name = 'password'><br />
        <input type= 'password'， placeholder="请确认密码", name = 'repassword'><br />
        <input type="submit">
    </form>
    <a href="/">返回主页</a><br />
</body>
</html>